<div class="grid gap-6 mb-6 ml-2 mr-2 md:grid-cols-3">

    <!-- USER DETAILS -->
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Username</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_username}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">First Name</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_firstname}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Last Name</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_lastname}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Mobile</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_mobile}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Email</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_email}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Tokens</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_tokens}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Subscription</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_subscription}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Identifier</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{profile_id}}</p>
    </div>
    <div class="mb-2">
        <p class="mb-0 mt-2 text-gray-500 dark:text-purple-400 font-bold">Session ID</p>
        <p class="mb-0 mt-0 text-gray-500 dark:text-green-400">{{session_id}}</p>
    </div>

</div>

