{% extends "apps/base_app.html" %}

{% block title %}profile | Daydream{% endblock title %}

{% block body %}

{% include "_nav.html" %}

{% include "apps/_control.html" %}

<div class="bg-gray-50 dark:bg-gray-900">
    <div class="px-6 py-6 container min-h-screen mx-auto sm:max-w-screen-xl">

        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% include "auth/_tab_profile.html" %}
            </div>
            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                {% include "auth/_tab_settings.html" %}
            </div>
        </div>

        <div class="mt-6 flex flex-col justify-center mx-auto max-w-max">
            {% include "_flash.html" %}
        </div>

    </div>
    
</div>

{% include "_footer.html" %}

{% endblock body %}