{% extends "apps/base_app.html" %}

{% block title %}Heal | Daydream{% endblock title %}

{% block body %}

{% include "apps/_app_nav.html" %}

{% include "apps/_control.html" %}

<section class="bg-gray-50 dark:bg-gray-900">

    <!-- FILE RESPONSE -->
    <div class="flex flex-col justify-center mx-auto max-w-max">

        <div class="text-center max-w-xs md:max-w-lg mt-8">
            <h1 class="mb-0 text-2xl font-extrabold tracking-tight leading-none dark:text-white">Upload an image to start</h1>
        </div>
        
        <figure class="max-w-xs md:max-w-lg mt-8">
            <!-- TASK PROGRESS -->
            {% include "apps/_app_progress.html" %}

            <img class="max-w-full p-2 h-auto rounded-lg" src="../static/img//placeholders/placeholder_generator_512x768.svg" alt="image description">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">61451-12343456789-0001</figcaption>
            <br>
            <div class="flex flex-row">
                <a href="#" class="inline-flex items-center mx-auto py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-900 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-primary-700 dark:focus:ring-gray-700">Download</a>
                <a href="#" class="inline-flex items-center mx-auto py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-900 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-primary-700 dark:focus:ring-gray-700">Archive</a>
            </div>
            <br>
        </figure>

        <!-- FILE LOADER DROPZONE -->
        <div class="flex justify-center items-center w-full mb-8">
            <label for="dropzone-file" class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col justify-center items-center pt-5 pb-6">
                    <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Tap to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG or BMP (MAX. 2048x2048px)</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden">
            </label>
        </div> 
    </div>

</section>

{% include "_footer.html" %}

{% endblock body %}